In [1]:
!pip install sweetviz

Collecting sweetviz
  Downloading https://files.pythonhosted.org/packages/1e/b8/07d7c725beca60469c7772def06a5b6e3a6382280e5d5f60e91718a880b4/sweetviz-1.0a4-py3-none-any.whl (322kB)
     |████████████████████████████████| 327kB 2.8MB/s
Collecting tqdm>=4.43.0
  Downloading https://files.pythonhosted.org/packages/f3/76/4697ce203a3d42b2ead61127b35e5fcc26bba9a35c03b32a2bd342a4c869/tqdm-4.46.1-py2.py3-none-any.whl (63kB)
     |████████████████████████████████| 71kB 6.6MB/s
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (1.18.4)
Requirement already satisfied: jinja2>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (2.11.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (1.0.4)
Collecting importlib-resources>=1.2.0
  Downloading https://files.pythonhosted.org/packages/7f/2d/88f166bcaadc09d9fdbf1c336ad118e01b7fe1155e15675e125be2ff1899/importlib_resources-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: matplotlib>=3.1.3 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (3.2.1)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.6/dist-packages (from sweetviz) (1.4.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2>=2.11.1->sweetviz) (1.1.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2018.9)
Requirement already satisfied: zipp>=0.4; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-resources>=1.2.0->sweetviz) (3.1.0)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from importlib-resources>=1.2.0->sweetviz) (1.6.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.3->sweetviz) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.3->sweetviz) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib>=3.1.3->sweetviz) (1.2.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (1.12.0)
Installing collected packages: tqdm, importlib-resources, sweetviz
  Found existing installation: tqdm 4.41.1
    Uninstalling tqdm-4.41.1:
      Successfully uninstalled tqdm-4.41.1
Successfully installed importlib-resources-1.5.0 sweetviz-1.0a4 tqdm-4.46.1

In [1]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
from numpy.random import randn
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [0]:
import sweetviz

In [4]:
df=sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [0]:
data=pd.DataFrame(data=df)

In [9]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [0]:
df['target']=df['smoker'].apply(lambda x: 0 if 'No' else 1)

In [16]:
df.head()

   total_bill   tip     sex smoker  day    time  size  target
0       16.99  1.01  Female     No  Sun  Dinner     2       0
1       10.34  1.66    Male     No  Sun  Dinner     3       0
2       21.01  3.50    Male     No  Sun  Dinner     3       0
3       23.68  3.31    Male     No  Sun  Dinner     2       0
4       24.59  3.61  Female     No  Sun  Dinner     4       0

In [17]:
df['gender']=df['sex'].apply(lambda x:1 if 'female' else 2)
df.head()

   total_bill   tip     sex smoker  day    time  size  target  gender
0       16.99  1.01  Female     No  Sun  Dinner     2       0       1
1       10.34  1.66    Male     No  Sun  Dinner     3       0       1
2       21.01  3.50    Male     No  Sun  Dinner     3       0       1
3       23.68  3.31    Male     No  Sun  Dinner     2       0       1
4       24.59  3.61  Female     No  Sun  Dinner     4       0       1

In [0]:
df.drop(columns=['sex','smoker','day','time'],inplace=True,axis=1)

In [19]:
df.head()

   total_bill   tip  size  target  gender
0       16.99  1.01     2       0       1
1       10.34  1.66     3       0       1
2       21.01  3.50     3       0       1
3       23.68  3.31     2       0       1
4       24.59  3.61     4       0       1

In [20]:
report=sweetviz.analyze([df,"train"],target_feat='target')

                                   |                         | [  0%]   00:00  -> (? left)
Summarizing dataframe:             |                         | [  0%]   00:00  -> (? left)
:TARGET::                          |███▌                 | [ 17%]   00:00  -> (00:00 left)
:TARGET::                          |███████              | [ 33%]   00:00  -> (00:00 left)
:total_bill:                       |███████              | [ 33%]   00:00  -> (00:00 left)
:total_bill:                       |██████████▌          | [ 50%]   00:00  -> (00:00 left)
:tip:                              |██████████▌          | [ 50%]   00:00  -> (00:00 left)
:tip:                              |██████████████       | [ 67%]   00:01  -> (00:00 left)
:size:                             |██████████████       | [ 67%]   00:01  -> (00:00 left)
:size:                             |█████████████████▌   | [ 83%]   00:01  -> (00:00 left)
:gender:                           |█████████████████▌   | [ 83%]   00:01  -> (00:00 left)
:gender:                           |█████████████████████| [100%]   00:01  -> (00:00 left)
:FEATURES DONE:                    |█████████████████████| [100%]   00:01  -> (00:00 left)

                                   |                         | [  0%]   00:00  -> (? left)
:Processing Pairwise Features:     |                         | [  0%]   00:00  -> (? left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:00  -> (00:00 left)

Creating Associations graph... DONE!

To display the whole report in seperate html docs.

In [0]:
my_report=report.show_html('sweetviz_report.html')